@font-face {
  font-family: Montserrat;
  src: url(/fonts/Montserrat-VariableFont_wght.ttf);
}

main {
  margin: 0;
}

h1 {
  margin: 0;
}

html {
  font-family: Montserrat;
  /* --header-height: 80px;
  --footer-height: 30px */
  background: linear-gradient(45deg, #f5f7fa, #c3cfe2);
}

body {
  margin: 0;
  /* min-width: 550px; */
}


@media all and (max-width: 550px) {
  .hamburger {
    display: block;
  }

  .naw__list {
    flex-direction: column;
    display: none;
    top: 70px;
    right: 0px;
    background-color: #f5f4f7;
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }

  .naw__list.active {
    display: flex;
  }

  .naw__item {
    margin: 10px 0;
  }
}